#search-container {
  margin-top: 50px;
}

#search-button {
  margin-left: 15px;
}

#search-input {
  width: 500px;
  display: inline-block;
}
#results-container{
  margin-top: 25px;
}
.result-row{
  margin-bottom: 15px;
  padding: 5px;
}

.result-row:nth-child(2n) {
  background-color: #e5e5e5;
}

.result-row b{
  margin-right: 15px;
}

@media all and (max-width : 599px) and (orientation: portrait) {
  #search-input {
    width: 100%;
  }

  #search-button {
    margin-left: unset;
    margin-top: 15px;
    width: 100%;
  }
}